---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
import Pricing from "../components/Pricing.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Consultologist - You handle your specialty, we handle ours."
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>
			Consultologist - You handle your specialty, we handle ours.
		</title>
		<script src="../fluentui-setup.ts"></script>
	</head>
	<body>
		<Header />
		<main>
			<Hero />
			<About />
			<Services />
			<Pricing />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: var(--fontFamilyBase);
		line-height: 1.6;
		color: var(--colorNeutralForeground1);
		background: var(--colorNeutralBackground1);
		overflow-x: hidden;
	}

	main {
		padding-top: 60px;
	}
</style>
